<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'About Ionic'">
    <ion-content has-header="true" has-tabs="true" padding="true">


        <div ng-controller="Controller" ng-init="init()">

            {{user.totalCount %20 }}
            <p ng-model="user.totalCorrect">Score : {{user.totalCorrect}} / {{user.totalCount}}</p>




            <form novalidate class="simple-form">
                <input type="text" readonly ng-model="user.val0" />
                <br />
                <input type="text" readonly ng-model="user.val1" />
                <br />







                <div class="button-bar">


                    <button class="button button-calm" ng-click="checkAns({{opt}})" ng-repeat="opt in user.opt">{{opt}}</button>

                </div>
                <br />
                <br />
                <br />

                <button ng-click=" reset() ">RESET</button>
                <button ng-click="update(user) ">SAVE</button>
            </form>
            <pre>form = {{user | json}}</pre>
            <pre>master = {{master | json}}</pre>










        </div>




    </ion-content>
</ion-view>