<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'About Ionic'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form class="form-inline">
              <input type="text" class="input-large uneditable-input"  id="val1" value="1" readonly> + 
              <input type="text" class="input-large uneditable-input" id="val2" value="2" readonly>
               =
              <input type="text" class="input-medium"value ="?" readonly></button>

              <br /><br />
            <div id="userOptions" class="btn-group btn-group-lg">
              <button type="button" class="btn btn-default" id="opt0" value="3">3</button>
              <button type="button" class="btn btn-default" id="opt1" value="20">20</button>
              <button type="button" class="btn btn-default" id="opt2" value="7">7</button>
              <button type="button" class="btn btn-default" id="opt3" value="23">23</button>
           </div>
    </form>
  </ion-content>
</ion-view>


<script>
alert("fff");
 var  limitArray = [20,50,100,500,1000,5000,10000,100000,10000000];
var  currentLimitIndex = 0;
var  currentLimit = limitArray[currentLimitIndex];
var  maxCurrentLimit = currentLimit + currentLimit;

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}
function updateLimits(currentLimitIndex){
currentLimit = limitArray[currentLimitIndex];
maxCurrentLimit = currentLimit + currentLimit;
}
$(function () {
//var limitArray = [20,50,100,500,1000,5000,10000,100000];
 //currentLimitIndex = 0;
   //currentLimit = limitArray[currentLimitIndex];
 //maxCurrentLimit = currentLimit + currentLimit;
alert("hi");
totalCount =0;
  totalCorrect = 0;
   // $.notify("Welcome", "success");
    document.getElementById('myResults').innerHTML = totalCorrect + "/" + totalCount;


});

$('#userOptions button').click(function () {
    //$('#userOptions button').addClass('active').not(this).removeClass('active');
    //$(this).button('toggle');
    var ans = +$("#val1")[0].value + +$("#val2")[0].value;
    //alert($(this).attr("value") + " " + ans);
    if ($(this).attr("value") == ans) {
        $.notify("Well done", "success");
        totalCorrect ++;

    } else {
        $.notify("Wrong !", "error");
    }

     
    var v1 = getRandomInt(0, currentLimit);
    var v2 = getRandomInt(0, currentLimit);
    $('#val1')[0].value = v1;
    $('#val2')[0].value = v2;

    var correctAnswerIndex = getRandomInt(0, 3);
    // alert(correctAnswerIndex);
    // $('#opt2')[0].innerHTML = ( correctAnswerIndex);

    for (var i = 0; i <= 3; i++) {
        // alert(i);
        if (i == correctAnswerIndex) {

            var temp = +v1 + +v2;
            $('#opt' + i)[0].innerHTML = (temp);
            $('#opt' + i)[0].value = (temp);
            


        } else {


            var temp = getRandomInt(0, maxCurrentLimit);

            $('#opt' + i)[0].innerHTML = (temp);
        }

      

    }
      totalCount++;
//alert(totalCount %20);
if(totalCount ==180){
window.location = "http://chartsonline.org";
}
if(totalCount%20==1){
updateLimits(currentLimitIndex++);
}
    document.getElementById('myResults').innerHTML = totalCorrect + "/" + totalCount ;
 



});
    </script>