<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="{{pageTitle}}">



    <ion-content has-header="true" has-tabs="true" padding="true">


        <div ng-controller="Controller" ng-init="init()">
            {{maxCurrentLimit}} -- {{currentLimit}} <pre>{{user.opt}}</pre>
            <h3 ng-model="user.totalCorrect">Score : {{user.totalCorrect}} / {{user.totalCount}}</h3>




            <form novalidate class="simple-form">

                <label class="item item-input ">
                    <span class="input-label " ng-model="user.val[0]">{{user.val[0]}}</span>

                </label>
                <label class="item item-input ">
                    <span class="input-label " ng-model="user.val[0]">{{user.val[1]}}</span>

                </label>









                <div class="button-bar">


                    <button class="button button-calm" ng-click="checkAns({{opt}})" ng-repeat="opt in user.opt">{{opt}}</button>

                </div>
                <br />
                <br />
                <br />


            </form>










        </div>




    </ion-content>
</ion-view>